In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = {'Income': [25000, 27000, 30000, 32000, 50000, 120000, 250000]}
df = pd.DataFrame(data)
df

   Income
0   25000
1   27000
2   30000
3   32000
4   50000
5  120000
6  250000

In [3]:
df.skew()

Income    1.943067
dtype: float64

In [4]:
df['log income']=np.log1p(df['Income'])
df

   Income  log income
0   25000   10.126671
1   27000   10.203629
2   30000   10.308986
3   32000   10.373522
4   50000   10.819798
5  120000   11.695255
6  250000   12.429220

In [5]:
df['log income'].skew()

np.float64(1.2277500624230397)

In [6]:
df['sqrt income']= np.sqrt(df['Income'])
df

   Income  log income  sqrt income
0   25000   10.126671   158.113883
1   27000   10.203629   164.316767
2   30000   10.308986   173.205081
3   32000   10.373522   178.885438
4   50000   10.819798   223.606798
5  120000   11.695255   346.410162
6  250000   12.429220   500.000000

In [7]:
df['sqrt income'].skew()

np.float64(1.5927821188097289)

In [8]:
from sklearn.preprocessing import PowerTransformer

In [9]:
pt= PowerTransformer(method='yeo-johnson')

In [10]:
df['transformed income']=pt.fit_transform(df[['Income']])

In [11]:
df['transformed income'].skew()

np.float64(0.6079091790827778)

## LABEL ENCODING
- only for target variables
- in some cases ordinal columns which arrives boolean values(Y(1)/N(0)) or (T(1)/F(0))

In [12]:
df = pd.DataFrame({'Quality': ['Low', 'Medium', 'High', 'Medium', 'Low']})
df

  Quality
0     Low
1  Medium
2    High
3  Medium
4     Low

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le= LabelEncoder()

In [15]:
df['encoded quality']= le.fit_transform(df[['Quality']])
df

C:\Users\Admin\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

  Quality  encoded quality
0     Low                1
1  Medium                2
2    High                0
3  Medium                2
4     Low                1

## ONE HOT ENCODING
- creating dummy variables/columns for unique values in the columns

In [16]:
df = pd.DataFrame({'Color': ['Red', 'Blue', 'Green', 'Red']})
df

   Color
0    Red
1   Blue
2  Green
3    Red

In [36]:
dfencoded=pd.get_dummies(df,columns=['Color'],drop_first=False)

In [35]:
dfencoded

   Color_Green  Color_Red
0        False       True
1        False      False
2         True      False
3        False       True

In [38]:
dfencoded=pd.get_dummies(df,columns=['Color'],drop_first=True)
dfencoded

   Color_Green  Color_Red
0        False       True
1        False      False
2         True      False
3        False       True

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
ohe=OneHotEncoder(sparse_output=False,drop=None)

In [23]:
encoded=ohe.fit_transform(df[['Color']])
encodeddf=pd.DataFrame(encoded,columns=ohe.get_feature_names_out(['Color']))
encodeddf

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0

## FEATURE SELECTION

- SELECT K BEST

In [24]:
from sklearn.feature_selection import SelectKBest,f_classif

In [26]:
from sklearn.datasets import load_iris

In [27]:
# Load dataset
iris = load_iris()
X = pd.DataFrame(iris.data, columns=iris.feature_names)
y = iris.target

In [28]:
selected= SelectKBest(score_func=f_classif,k=2)  #top 2 features ie k=2
x_new=selected.fit_transform(X,y)

In [32]:
selectedfeatures= X.columns[selected.get_support()]

In [33]:
selectedfeatures

Index(['petal length (cm)', 'petal width (cm)'], dtype='object')